
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>First Season</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
   
  </head>
  <body>
    <h1>The Duke and I </h1>
    <img src="/images/season1.jpg" alt="Daphne and Simon">
    <h2> Daphne and Simon become friendly during their pretend courtship, and they begin to feel a mutual attraction that they know they cannot act on. 
        At one ball, Daphne and Simon take a walk in the garden and end up kissing.
        Anthony catches them and angrily says that he will duel Simon unless he marries Daphne.</h2>
  </body>
  <h2><a href="/home">Back to Home</a></h2>
</html>

