<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Welcome Ironhacker</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <div id="menu">
        <button><a href="/season1">See First Season</a></button>
        <button><a href="/season2">See Second Season</a></button>
    </div>
  </head>
  <body>
    <h1>Warmest welcome to the Bridgerton Family</h1>
    <img src="/images/bridgerton_family.jpg" alt="">
    <h2>Bridgerton follows Daphne Bridgerton, the eldest daughter of the powerful Bridgerton family as she makes her debut onto Regency London's competitive marriage market. 
        Hoping to follow in her parents' footsteps and find a match sparked by true love, Daphne's prospects initially seem to be unrivaled. 
        But as her older brother begins to rule out her potential suitors, the high society scandal sheet written by the mysterious Lady Whistledown casts aspersions on Daphne.
        Enter the highly desirable and rebellious Duke of Hastings, committed bachelor and the catch of the season for the debutantes' mamas. 
        Despite proclaiming that they want nothing the other has to offer, their attraction is undeniable and sparks fly as they find themselves engaged in an increasing battle of wits while navigating society's expectations for their future.</h2>
  </body>
</html>